body {font-family: courier, monospace;}

h1 {margin-right: 40px;
margin-top: 30px;
font-size: 65px;
font-weight: 900;}

.ch2h3 {float: right;}

h2 {float: right;
margin-right: 40px;
font-size: 40px;
margin-top: 0;}
h3 {width: 600px;
font-weight: 550;
margin-left: 20px;
font-size: 23px;
margin-top: 50px;
float: left;}
h4 {width: 100px;
margin-right: 100px;
font-family:  arial, sans-serif;
float: right;}


.dps {color: blue;
float: left;
font-size: 90px;}
.navigator {color: red;
float: left;
font-size: 90px;}

.levo {float: left;
margin-left: 300px;}
.pravo {float: right;
margin-right: 300px;}
.tmn {border: 6px solid black;
margin: 30px;
padding-top: 1px;
padding-bottom: 1px;
width: 200px;
text-align: center;
background-color: pink;
font-weight: 900;
font-family:  gabriola, cursive;
font-size: 25px;
color: black;}
.ekb {border: 6px solid black;
margin: 30px;
padding-top: 1px;
padding-bottom: 1px;
width: 200px;
text-align: center;
background-color: pink;
font-weight: 900;
font-family:  gabriola, cursive;
font-size: 25px;}
.surgut {border: 6px solid black;
margin: 30px;
padding-top: 1px;
padding-bottom: 1px;
width: 200px;
text-align: center;
background-color: pink;
font-weight: 900;
font-family:  gabriola, cursive;
font-size: 25px;}

.nothing1 {clear: both;
height: 30px;}
.nothing2 {clear: both;
height: 50px;}


