<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title> OTKAT TMN </title>
	<link rel="stylesheet" href="tmn.head.css">
</head>

<body> 
<div class="ch2h3">
	<h1> <div class="dps">DPS</div><div class="navigator">NAVIGATOR</div> </h1>
	<h2>  Здесь вы можете посмотреть, либо оставить местоположение дпс'ников в Тюмени </h2>
</div>
<h3> Тюмень 72 </h3>
<div class="nothing1"> </div>
<div class="maps"> 
	<iframe src="https://yandex.ru/map-widget/v1/-/CCqqFkc" width="900" height="450" frameborder="1" allowfullscreen="true"></iframe>
</div>
<div class="nothing2"> </div>
<h4> dps.tmn@mail.ru 2019 ................ instagram: dps.tmn</h4>
<script>
</script>
</body> 